/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none !important;
    }

    .hero .container {
        --column-size: 12;
        --spacer: 0;

        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: calc(var(--spacer) / 2);
        padding-right: calc(var(--spacer) / 2);
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    /* .header .container {
        --spacer: 20px;
    } */
    body {
        max-width: 100%;
    }
    .container {
        --spacer: 40px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 10;
        transform: translateX(-100%);
        transition: 0.5s ease;
        padding: 40px;
    }

    .menu-drawer label {
        position: absolute;
        right: 5%;
        top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #f5f5f5;
        transition: 0.3s ease;
    }
    .menu-drawer label:hover {
        background: #f5f5f5;
    }

    .menu-drawer label svg {
        width: 20px;
        height: 20px;
    }

    .mobile-header.fixed {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 2;
        transition: none;
        border-bottom: none;
        background: #eee;
    }

    /* hero */
    .hero {
        padding-top: 50.5px;
    }

    .hero-content {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .section-title.hero-title {
        font-size: 4.2rem;
        line-height: 1.19048;
    }

    .hero-desc {
        width: 100%;
    }

    .hero-links {
        margin-top: 30px;
    }

    .hero-social-media {
        margin-top: 30px;
        z-index: 1;
    }

    .hero .row.row-cols-1.row-cols-lg-2 {
        flex-direction: column-reverse;
    }

    .hero-media {
        justify-content: center;
        margin-left: -20px;
        margin-right: -20px;
    }

    .hero-img-wrap {
        width: 66.4%;
        height: auto;
        padding-top: 20px;
    }

    .hero-img__decor {
        max-width: 100%;
        width: 123%;
        height: 100%;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    /* project */

    .project-desc {
        max-width: 100%;
        margin-top: 20px;
        line-height: 1.625;
        opacity: 0.6;
    }

    /* feedback */
    .feedback-content {
        width: 100%;
    }

    /* cta */
    .cta-decor-imgs .center {
        max-width: 100%;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .menu-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav-list {
        margin-top: 30px;
    }
    .nav-item {
        padding: 0;
    }

    .nav-item .nav-link {
        display: block;
        padding: 16px 0;
    }
    /* project */
    .project-top {
        flex-direction: column;
        align-items: initial;
        justify-content: center;
        text-align: center;
    }

    .project-item__info {
        width: 100%;
    }

    .project-title {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none !important;
    }

    .header-inner {
        flex-direction: row-reverse;
    }

    .header-right {
        display: none;
    }
    .header-left {
        width: 100%;
    }

    .header-link {
        justify-content: center;
    }
    .logo a img {
        width: 100px;
        height: 100px;
    }

    .toggle-menu {
        border: 1px solid rgb(93, 59, 238, 0.2);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9px 11px;
        cursor: pointer;
    }

    .toggle-menu svg {
        width: 22px;
        color: #5d3bee;
    }
    .hero-img__decor-02 {
        display: none;
    }
    /* special */
    .special-list .row {
        row-gap: var(--spacer);
    }

    /* about */
    .about {
        margin-top: 120px;
        padding-bottom: 180px;
    }
    /* feedback */
    .feedback {
        padding-top: 323px;
    }

    /* question */
    .question-collapse {
        margin-top: 0;
    }
    /* cta */
    .cta-decor.left-bot,
    .cta-decor.right-top {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none !important;
    }

    .section-title {
        font-size: 3.6rem;
        max-width: 100%;
    }
    .section-desc {
        font-size: 1.6rem;
    }

    /* header */

    .header-inner {
        padding: 15px 10px 20px;
        border-bottom: 1px solid #d6d3e2;
    }

    .logo a img {
        width: auto;
        height: auto;
    }

    .header-link {
        justify-content: flex-end;
    }

    .email-icon img {
        padding: 10px 7px;
        cursor: pointer;
    }

    .bar-icon {
        border: 1px solid rgb(93, 59, 238, 0.2);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bar-icon img {
        padding: 11px 7px;
        cursor: pointer;
    }
    .menu-drawer {
        padding: 20px;
    }
    /* clients */
    .client-inner {
        flex-direction: column;
    }

    .client-title {
        width: auto;
        padding-left: 0;
        text-align: center;
        letter-spacing: -1.12px;
    }

    .client-title::before {
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        top: -5px;
        width: 48px;
    }

    .client-list {
        margin-top: 42px;
    }

    /* specialities */
    .specialities {
        margin: 120px 0;
    }

    .special-list {
        margin-top: 50px;
        overflow: hidden;
    }

    .special-list > .row.row-cols-1.row-cols-lg-3 {
        flex-wrap: nowrap;
    }

    .special-item {
        padding: 29px 50px;
    }

    .special-item__wrap-icon {
        width: 62px;
        height: 62px;
    }
    .special-item__title {
        font-size: 2.8rem;
    }

    .special-item .item-desc {
        font-size: 1.6rem;
    }

    .special-inner .dots {
        margin-top: 30px;
    }

    /* project */

    .project-item {
        column-gap: 22px;
    }

    .project-item__info {
        width: 100%;
    }

    .project-title {
        width: 100%;
        line-height: 1.16667;
        letter-spacing: -1.44px;
    }

    .project-list {
        margin-top: 60px;
    }

    .project-item {
        padding: 20px 15px;
    }

    .project-item__title {
        font-size: 2.4rem;
        letter-spacing: -0.96px;
    }

    .project-item__desc {
        min-width: 176px;
        font-size: 1.4rem;
        margin: 4px 0;
    }

    .project-item__link {
        font-size: 1.6rem;
        text-transform: capitalize;
    }
    .project-item__wrap-img {
        min-width: 122px;
        width: 122px;
        height: 93px;
        z-index: 1;
    }

    .more-project {
        margin-top: 70px;
        --height: 56px;
        font-size: 1.6rem;
        min-width: 154px;
    }

    /* about */
    .about {
        margin-top: 120px;
        padding-bottom: 180px;
    }

    .about-title__top span {
        color: #5d3bee;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.8px;
    }
    .about-title__top img {
        width: 18px;
        height: 18px;
    }

    .about-title {
        margin-bottom: 10px;
    }

    .about-desc {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .about-video {
        z-index: 1;
    }

    .about-statistics {
        margin: 40px 0;
        padding: 30px 0;
    }

    .statistic-item h3 {
        font-size: 3rem;
    }

    .statistic-desc {
        line-height: 1.375;
        margin-top: 5px;
    }

    .video-btn {
        width: 77px;
        height: 77px;
    }

    .intro-video {
        padding: 7px 21px;
        font-size: 1.2rem;
        line-height: 2.5;
    }

    /* feedback */
    .feedback {
        padding-top: 221px;
    }

    .feedback-title {
        letter-spacing: -1.44px;
    }

    .feedback-desc {
        width: 100%;
    }

    .feedback-list {
        margin-top: 40px;
        width: 100%;
    }

    .feedback-content {
        width: 100%;
    }

    .feedback-content blockquote {
        font-size: 1.8rem;
    }

    .feedback-decor img {
        width: 96px;
    }

    p.user-name {
        margin-left: 15px;
        font-size: 2.4rem;
        line-height: 1.667;
    }

    /* Quest */

    .quest {
        font-size: 2.4rem;
        letter-spacing: -0.96px;
    }

    .quest-content {
        padding-bottom: 15px;
        margin-right: 52px;
    }

    .question-collapse {
        min-width: 33px;
        height: 33px;
        margin-top: 0;
    }
    .quest,
    .answer {
        padding: 0;
    }
    .answer {
        font-size: 1.6rem;
        line-height: 1.625;
        margin-top: 15px;
    }

    /* gallery */
    .gallery-desc {
        width: 100%;
    }

    .gallery-slide {
        padding-left: calc(-1 * var(--spacer) / 2);
        padding-right: calc(-1 * var(--spacer) / 2);
    }

    /* cta */

    .cta.container {
        --spacer: 40px;
    }

    .cta-inner {
        padding: 36px 0;
        padding-left: calc(var(--spacer) / 2);
        padding-right: calc(var(--spacer) / 2);
        z-index: 1;
    }

    .cta-img--wrap {
        width: 48px;
        height: 48px;
    }
    .cta-title {
        line-height: 1.16667;
        letter-spacing: -1.44px;
        text-align: center;
    }

    .cta-desc {
        width: 100%;
        line-height: 1.625;
        margin-top: 10px;
    }

    .cta-decor.left-bot,
    .cta-decor.right-top {
        display: none;
    }

    .cta-decor.center {
        width: 100%;
        height: 100%;
    }

    /* footer */

    footer .header-inner {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
    footer .copyright .separate {
        width: 100%;
        height: 1px;
        background-color: #d6d3e2;
        margin: 29px 0 20px;
    }

    .navbar .nav-list {
        display: flex;
        column-gap: 38px;
    }

    .nav-item {
        padding: 0;
    }
    .nav-link {
        font-size: 1.6rem;
    }

    footer .header-left {
        margin-top: 58px;
        width: auto;
    }
    footer .logo a img {
        width: 100px;
        height: 100px;
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 57px;
    }
}
